<mat-accordion>
  <mat-expansion-panel *ngFor="let email of (emails | async)">
    <mat-expansion-panel-header @fade>
      <mat-checkbox>
        <mat-panel-title class="email">
          {{email.subject}}
        </mat-panel-title>
      </mat-checkbox>
    </mat-expansion-panel-header>
    <p>{{email.body}}</p>
    <button>
      <mat-icon (click)="deleteEmail(email)">delete</mat-icon>
    </button>
    <button>
      <mat-icon [class.changed]="isChanged" (click)="starred(email)">star_rate</mat-icon>
    </button>
    <button>
      <mat-icon [class.read]="isRead" (click)="markAsRead()">bookmark_border</mat-icon>
    </button>
  </mat-expansion-panel>
</mat-accordion>