<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-list role="list">
      <span class="email">EMAIL</span>
      <mat-list-item role="listitem" routerLink="/inbox" routerLinkActive="active">Inbox</mat-list-item>
      <mat-list-item role="listitem">Archive</mat-list-item>
      <mat-list-item role="listitem" routerLink="/sentitems" routerLinkActive="active">Sent Items</mat-list-item>
      <mat-list-item role="listitem">Starred</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>