<div class="container" @fade>
  <mat-form-field>
    <input matInput [value]="storageEmail" placeholder="Email" (keyup)="storage('Email', email.value)" #email>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Subject" (keyup)="storage('Subject', subject.value)" #subject>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Content" rows="10" cols="50" (keyup)="storage('Body', body.value)" #body></textarea>
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="sendEmail(email.value, subject.value, body.value)">Send</button>
    <!-- <button mat-raised-button color="primary" (click)="composeMail(email.value, subject.value, body.value)">Send</button> -->
  </div>
</div>